@model IEnumerable<News_WebApp.Models.News>

    <h1>News List</h1>
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.NewsId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UrlToImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.NewsId)
                            </td>*@
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Title)*@
                            @Html.ActionLink(item.Title, "Details", "News", new { newsId = item.NewsId })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedAt)
                        </td>
                        <td>
                            @*@Html.(modelItem => item.UrlToImage)*@
                            <img src=@item.UrlToImage alt="image not found" />
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                            @Html.ActionLink("Delete", "Delete", "News", new { newsId = item.NewsId })
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>
